
bg(bg,forceResetIeFilter=false)
    if bg
        if length(bg)==1
            background:bg
            if forceResetIeFilter and $IE_COMPATIBILITY
                @css{ filter:progid:DXImageTransform.Microsoft.gradient(enabled=false) }
        else
            bg-gradient-tb bg[0] bg[1]
    //@if typeof($background)=='list'{ @include bg-gradient-tb(nth($background,1),nth($background,2)); }
    //@else if $background{ background:$background; @if $forceResetIeFilter { @if $IE_COMPATIBILITY{; } } }

bg-gradient-tb($top, $bottom=true)
    if $top == true
        $top = lighten($bottom, $amount)
    else if $bottom == true
        $bottom = lighten($top, $amount)

    /* Old browsers */
    if lightness($top) > lightness($bottom)
        background: $top;
    else
        background: $bottom;

    /* IE6-9 */
    //  if $IE_COMPATIBILITY
    //      filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='%s',endColorstr='%s',GradientType=0)" % $top $bottom
    background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
    background: '-webkit-gradient(linear, left top, left bottom, color-stop(0%,%s), color-stop(100%,%s))' % $top $bottom; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $top 0%,$bottom 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(top, $top 0%,$bottom 100%); /* W3C */
