border-radius(n)
	ensure(n, 'unit')
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

transition()
	-moz-transition arguments
	-webkit-transition arguments
	-o-transition arguments
	transition arguments

border-radius()
	-moz-border-radius arguments
	-webkit-border-radius arguments
	-ms-border-radius arguments
	border-radius arguments

border-top-right-radius()
	-moz-border-radius-topright arguments
	-webkit-border-top-right-radius arguments
	border-top-right-radius arguments

border-top-left-radius()
	-moz-border-radius-topleft arguments
	-webkit-border-top-left-radius arguments
	border-top-left-radius arguments

border-bottom-right-radius()
	-moz-border-radius-bottomright arguments
	-webkit-border-bottom-right-radius arguments
	border-bottom-right-radius arguments

border-bottom-left-radius()
	-moz-border-radius-bottomleft arguments
	-webkit-border-bottom-left-radius arguments
	border-bottom-left-radius arguments

box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

box-sizing()
	-moz-box-sizing arguments
	-webkit-box-sizing arguments
	-ms-box-sizing arguments
	box-sizing arguments

appearance()
	-moz-appearance arguments
	-webkit-appearance arguments
	appearance arguments

backface-visibility()
	-moz-backface-visibility arguments
	-webkit-backface-visibility arguments
	backface-visibility arguments

text-size-adjust()
	-webkit-text-size-adjust arguments
	-ms-text-size-adjust arguments

/*
 * https://developer.mozilla.org/en-US/docs/Web/CSS/animation
 * Formal syntax: <single-animation-name> || <time> || <timing-function> || <time> || <single-animation-iteration-count> || <single-animation-direction> || <single-animation-fill-mode>
 */
animation()
	-moz-animation arguments
	-webkit-animation arguments
	-o-animation arguments
	animation arguments
