@includeCore 'base/global';
@includeCore 'base/form';
@includeCore 'base/page';
@includeCore 'base/table';
@includeCore 'base/navigation';
@includeCore 'base/pager';
@includeCore 'base/actions';

@includeCore 'base/icons';
@includeCore 'base/ajax';

@includeCore 'base/small-sizes';