@includeCore 'base/icon';
coreIcon16('dbAdd','database_add');
coreIcon16('dbGo','database_go');

coreIcon16('dbGreen','database_green');
coreIcon16('dbYellow','database_yellow');
coreIcon16('dbRed','database_red');
