@require '../base/icon.styl';
coreIcon16('folder','folder')
coreIcon16('folder_add','folder_add')
coreIcon16('folder_bell','folder_bell')
coreIcon16('folder_brick','folder_brick')
coreIcon16('folder_bug','folder_bug')
coreIcon16('folder_camera','folder_camera')
coreIcon16('folder_database','folder_database')
coreIcon16('folder_delete','folder_delete')
coreIcon16('folder_edit','folder_edit')
coreIcon16('folder_error','folder_error')
coreIcon16('folder_explore','folder_explore')
coreIcon16('folder_feed','folder_feed')
coreIcon16('folder_find','folder_find')
coreIcon16('folder_go','folder_go')
coreIcon16('folder_heart','folder_heart')
coreIcon16('folder_image','folder_image')
coreIcon16('folder_key','folder_key')
coreIcon16('folder_lightbulb','folder_lightbulb')
coreIcon16('folder_link','folder_link')
coreIcon16('folder_magnify','folder_magnify')
coreIcon16('folder_page','folder_page')
coreIcon16('folder_page_white','folder_page_white')
coreIcon16('folder_palette','folder_palette')
coreIcon16('folder_picture','folder_picture')
coreIcon16('folder_star','folder_star')
coreIcon16('folder_table','folder_table')
coreIcon16('folder_user','folder_user')
coreIcon16('folder_wrench','folder_wrench')