@import '../variables/buttons.styl';

if $_BUTTON_OVERRIDE
    html
        input.submit, button, .button
            bg $ButtonBackground
            border $ButtonBorder
            color $ButtonColor

        input.submit:hover, button:hover, .button:hover
            bg $ButtonHoverBackground
            border $ButtonHoverBorder if $ButtonHoverBorder

        body input.submit:focus, body button:focus, body .button:focus
            bg $ButtonFocusBackground
else
    input.submit, button, .button
        display inline-block
        bg $ButtonBackground
        border-radius $ButtonRadius
        box-shadow $ButtonBoxShadow if $ButtonBoxShadow
        border $ButtonBorder
        color $ButtonColor
        text-shadow $ButtonTextShadow
        padding 2px 8px
        cursor pointer
        transition all .4s
        box-sizing border-box
        text-decoration none

    input.submit:hover, button:hover, .button:hover
        bg $ButtonHoverBackground
        border $ButtonHoverBorder if $ButtonHoverBorder
        color $ButtonHoverColor if $ButtonHoverColor

    body input.submit:focus, body button:focus,body .button:focus
        bg $ButtonFocusBackground
        color $ButtonFocusColor
        outline 0
        text-shadow $ButtonFocusTextShadow if $ButtonFocusTextShadow

    a.button
        display inline-block

    a.button, a.button:hover
       text-decoration none

    input.submit.bblock, button.bblock, .button.bblock, a.button.bblock
       display block

    button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
       border 0

    button.big .button.big
        padding 5px 16px

/* IE */
/*input.submit,button{
    position:relative;
    z-index: 0;
}*/
