@require 'base/icon.styl';


.iconWrap div
    height 30px
    padding-left 28px
.icon
    margin 0 3px 0 0
    display inline-block
    text-rendering auto
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    line-height 1
    vertical-align middle
    position relative
    bottom 1px

li .icon,.button .icon
    margin 0 2px 0 0

.bIcon .icon
    margin 0

.button.bIcon
    padding 4px

.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
