@require 'base/icon.styl';

coreIcon16('pageAdd','page_white_add')
coreIcon16('pageEdit','page_white_edit')
coreIcon16('pageDelete','page_white_delete')
coreIcon16('add','add')
coreIcon16('edit','pencil')
coreIcon16('delete','cross')
coreIcon16('editText','page_white_text')
coreIcon16('select','shape_square_go')
coreIcon16('view','zoom_layer')
coreIcon16('rename','textfield_rename')

/* messages */
coreIcon16('info','information')
coreIcon16('help','help')
coreIcon16('warning','error')
coreIcon16('error','exclamation')

/* booleans */
coreIcon16('enabled','bullet_green')
coreIcon16('disabled','bullet_red')
coreIcon16('tick','tick')
coreIcon16('cross','cross')
coreIcon16('close','cross')


/* toggle */
coreIcon('toggle_plus','bullet_toggle_plus')
coreIcon('toggle_minus','bullet_toggle_minus')

/* folders */
coreIcon('folder_add','folder_add')
coreIcon('folder_edit','folder_edit')
coreIcon('folder_delete','folder_delete')