/*$JQueryUI=false unless $JQueryUI is defined*/

$InteractionDefaultBackgroundColor ?= $InteractionDefaultColor
$InteractionDefaultTextShadow ?= false
$InteractionDefaultBackgroundColor ?= false
$InteractionHoverBackgroundColor ?= $InteractionHoverColor
$InteractionCurrentBackgroundColor ?= $InteractionCurrentColor

a
    color:$InteractionDefaultColor
    text-shadow:$InteractionDefaultTextShadow if $InteractionDefaultTextShadow

if $InteractionCurrentColor == $InteractionHoverColor
    a:hover, a.current
        color $InteractionCurrentColor
else
    a.current
        color $InteractionCurrentColor
    a:hover
        color $InteractionHoverColor


[contenteditable]:hover
    outline 1px dotted $InteractionHoverColor

[contenteditable]:focus
    outline 1px solid $InteractionCurrentColor


$__moreSelector='';

ul.selectable.linksList
    > li
        padding 0
        > a
            display block


div.selectable, ul.selectable li
    background $InteractionDefaultBackgroundColor
    color findBestFgColor($InteractionDefaultBackgroundColor)
    cursor pointer

div.selectable a, ul.selectable li a
    color findBestFgColor($InteractionDefaultBackgroundColor)
    text-decoration none

if $InteractionHoverBackgroundColor
    div.selectable:hover, ul.selectable li:hover
        background $InteractionHoverBackgroundColor
        color findBestFgColor($InteractionHoverBackgroundColor)
    div.selectable:hover a, ul.selectable li:hover a
        color findBestFgColor($InteractionHoverBackgroundColor)


if $InteractionCurrentBackgroundColor and (!$InteractionHoverBackgroundColor or $InteractionHoverBackgroundColor != $InteractionCurrentBackgroundColor)
    ul.selectable li.current
        background $InteractionCurrentBackgroundColor
        color findBestFgColor($InteractionCurrentBackgroundColor)
    ul.selectable li.current a
        color findBestFgColor($InteractionCurrentBackgroundColor)
